@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body{
    font-family: 'Comfortaa', cursive;
    background-color: white;
}
h1{
    text-align: center;
}
div{
    background-color: darkgrey;
    text-align: center;
    margin: 20px;
    height: 420px;
    width:420px;
    margin-top: 50px;
}
i{
    margin-top: 30px;
    font-size: 25px;
}
button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border: solid rgb(73, 73, 73);
    border-radius: 50px;
    padding: 10px;
}
p{
    margin-top: 80px;
}
