body{
    background:linear-gradient(to bottom left, rgb(92, 255, 133), rgb(225, 30, 243));
    height: 720px;
    }
h1
    {
    text-align: center;
    }
div
    {
    background-color: white;
    height:290px;
    width: 290px;
    margin: 10px;
    text-align: center;
    }
i{
        font-size: 60px;
        margin-top: 20%;
}
hr{
        background-color: black;
        height:2px;
        width: 120px;
    }
    table{
        margin-left: auto;
        margin-right: auto  ;
    }
    img{
        margin-top: 20%s;
    }